---
import FeatureTable from "../components/feature_table.astro";
import Footer from "../components/footer.astro";

import type { Config } from "../types/config.ts";

import plans from "../../plans.json";
import __config from "../../config.json";

const config : Config = __config;

import '../global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Laurentius Plus</title>
	</head>
	<body>
		<div class="min-w-full min-h-screen flex flex-col items-center justify-center background">
			<div
				style={{ width: "min(max(800px, 70%), 100%)" }}
				class="overflow-x-scroll my-auto"
			>
				<FeatureTable plans={plans} />
			</div>
			<Footer source={config.source} imprint={config.imprint} class="self-end" />
		</div>
	</body>
</html>
