---
export interface Props {
	source?: string;
	imprint?: string;
	class?: string;
}

const { source, imprint } = Astro.props;
---

<style>
	a + a::before {
		content: "";
		border: 1px solid;
		@apply border-slate-600;
		margin: 0 1rem;
	}
</style>

{!([source, imprint].every(v => v === undefined)) &&
	<footer
		class=`flex p-1 px-3 rounded bg-black bg-opacity-25 text-sm ${Astro.props.class || ''}`
	>
		{source !== undefined && <a href={source}>Source</a>}
		{imprint !== undefined && <a href={imprint}>Imprint</a>}
	</footer>
}