---
export interface Props {
	to?: string;
	class?: string;
}

const to = Astro.props.to !== undefined ? ` to ${Astro.props.to}` : "";
---

<button
	class={"btn bg-blue-700 hover:bg-blue-600 text-white font-bold rounded w-full h-full py-3 px-2 " +
		(Astro.props.class || "")}
>
	Subscribe{to}
</button>
